<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="server" value="localhost"/>
    <add key="port" value="27016"/>
    <add key="database" value="mongobasic"/>
    <add key="user" value="mongobasic"/>
    <add key="password" value="mongobasic"/>
    <add key="mongoUri" value="mongodb://mongobasic:mongobasic@localhost:27016/mongobasic?safe=true"/>
  </appSettings>
</configuration>